NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
RESEND_API_KEY=re_FjFrZaM2_Fo7LK5xFDmPkr7TVeqVvL9NH
RESERVATION_NOTIFICATION_EMAIL=salma.lahsaini.97@gmail.com
EMAIL_FROM="Islamcars <onboarding@resend.dev>"
